{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index/photos2.css' %}" />

<div class="love">
  <a href="{% url 'polls:menus' %}"><i class='fas fa-home' style='font-size:30px'></i></a>
</div>
  
<h1>Gallery</h1>


  <div class="photo-grid">
    {% for post in posts %}
      <a href="{% url 'polls:photo_detail' post.id %}">
        <div class="photo-item">
            {% if post.image_or_video%}
              {% if post.image_or_video.name|lower|slice:'-3:' == 'mp4' %}
                <video width="100%" height="auto" controls>
                  <source src="{{ post.image_or_video.url }}" type="video/mp4">
                </video>
              {% else %}
                <img src="{{ post.image_or_video.url }}" alt="{{ post.body }}" class="photo-image">
              {% endif %}
            {% else %}
              <img src="{{ post.image_or_video.all.0.image.url }}" alt="{{ post.body }}" class="photo-image">
            {% endif %}
          <h3 class="photo-title">{{ post.body }}</h3>
          <div class="thumbs-up-dropdown">
            <button class="remove-default-btn" type="submit">
                {% with likes_count=post.likes.all.count %}
                    <i class="far fa-thumbs-up">
                        <span>{{ likes_count }}</span>
                    </i>
                {% endwith %}
            </button>
            <div class="dropdown-content">
                {% for like in post.likes.all %}
                    <span>{{ like.username }}</span>
                {% endfor %}
            </div>
        </div>            
        <div class="thumbs-down-dropdown">
          <button class="remove-default-btn" type="submit">
            {% with dislikes_count=post.dislikes.all.count %}
            <i class="far fa-thumbs-down">
              <span>{{ dislikes_count }}</span>
            </i>
            {% endwith %}
          </button>
          <div class="dropdown-content">
            {% for dislike in post.dislikes.all %}
            <span>{{ dislike.username }}</span>
            {% endfor %}
          </div>
        </div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endblock %}

