body {
  background: linear-gradient(to bottom, #55ff33 0%, #46a04c 100%);
  animation: changeBg 5s ease-in-out infinite alternate;
}

@keyframes changeBg {
  0% {
    background: linear-gradient(to bottom, #ffcc66 0%, #22e42f 100%);
  }
  100% {
    background: linear-gradient(to bottom, #55ff33 0%, #ffcc66 100%);
  }
}

.omg p{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 2%;
}

/* Style for the links */
.omg a.btn {
  display: inline-block;
  padding: 12px 20px;
  background-color: #0062cc;
  color: #fff;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease-in-out;
  margin-top: 10px;
}

/* Hover effect */
.omg a.btn:hover {
  background-color: #004a99;
  color: #fff;
  transform: scale(1.1);
}


#imageUpload
{
    display: none;
}

#img{
    margin-left: 30%;
    font-size: 18px;
}

#profileImage
{
    cursor: pointer;
    width: 350px;
    height: 400px;
}

#profile-container {
    margin-top: 250px; 
    text-align: left;
    margin-left: 30%;
    overflow: hidden;
}

#profile-container img {
    width: 200px;
    height: 150px;
}

.form-style-9 ul{
    float: right;
    padding:10px;
    width: 80%;
    font-size:18px;
}

.personal-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: -300px;
    padding-bottom:1.25%;
}

ul{
  list-style: none;
}

.roo{
    text-align: center;
    margin: 30px auto;
    max-width: 700px;
    color: red;
    animation: zoomIn 0.5s ease-out;
}
.roo h1{
  font-size: 60px;
}

@keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

.link_button {
    text-align: center;
    margin-top: 30px;
    margin-left: 80px;
    width: 100px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.link_button:hover {
transform: scale(1.1);
}

.submit-div {
	height: 32px;
	margin-top: 6%;
}