{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/index/teass.css' %}" />

<h1>Teacher Form</h1>

{% for teacher in teachers %}

<div class="love">
    <a href="{% url 'polls:menu' teacher.id %}">
      <i class='fas fa-home' style='font-size:30px'></i>
    </a>
</div>

    <form class="form-style-9">
        <div id="profile-container">
            <a href="{% url 'teacher:profile' teacher.id %}">
                <img src="{{ teacher.photo_url }}">
            </a>
           
        <div class="container">
            <ul class="column">
                <strong> First Name</strong> {{teacher.first_name}}
            </ul>
            <ul class="column">
                <strong>Last Name</strong> {{teacher.last_name}}
            </ul>
            <ul class="column">
                <strong> Gender </strong>{{teacher.gender}}
            </ul>

            <ul class="column">
                <strong>Date of birth </strong>{{teacher.dob}}
            </ul>
            <ul class="column">
                <strong>School Name</strong> {{teacher.schoolname}}
            </ul>
            <ul class="column">
                <strong>Class</strong> {{teacher.classs}}
            </ul>
            <ul class="column">
                <strong>Section</strong> {{teacher.section}}
            </ul>
            <ul class="column">
                <strong>Roll Number</strong> {{teacher.rollno}}
            </ul>
            <ul class="column">
                <strong>Join</strong> {{teacher.join}}
            </ul>
            <ul class="column">
                <strong>Seperate</strong> {{teacher.seperate}}
            </ul>
        </div>
    </div>
</form>
    {% endfor %}
{% endblock content %}